.container {
    font-family: 'Assistant', sans-serif;
    margin-top: 15px;
}

#home-body {
    background-image:url("../images/puppies.jpg");
    background-size: auto;
    background-size: cover;

}

#home-cont {
color: #000;
}
#survey-body {
    background-image:url("../images/survey-background6.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    background-size: cover;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*  */ 
    /* background-size: cover cover; */
    /* height: 500%; */
    /* overflow: auto; */
}

#modalMatch {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 900px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

#matchPhoto {
    width: 50%;
    height: 50%;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
}

.modal-dialog {
    max-width: 900px;
 }